@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    font-family: "League Spartan", sans-serif;
    box-sizing: border-box ;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    
    color: #222;
}
h6{
    font-size: 16px;
    font-weight: 700;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;

}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 7px;
    transition: 0.2s ease;
    color: black;
    background-color: #fff;
    font-weight: 500;
    
}
button.white{
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 11px 20px;
    border: 1px solid white;
    transition: 0.2s ease;
    color: rgb(255, 255, 255);
        
    font-weight: 500;
    
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dcedfc;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;  
}

/* Body */
body{
    margin: 0px;
    padding: 0px;
}



#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(58, 51, 51);
    font-family: "Inter", sans-serif;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #0a968c;
    
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 52%;
    height: 2px;
    background-color: #0a968c;
    position: absolute;
    bottom: -3px;
    left: 20px;
}
#hero{
    background-image: url(img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: rgb(32, 153, 121);
}
#hero button{
    background-image: url(img/button.png);
    background-color: transparent;
    color: rgb(25, 131, 117);
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 16px;
    padding: 14px 80px 14px 65px;
    border: 0;
    font-weight: 700;
}
#feature .fe-box{
    text-align: center;
    width: 180px;
    border: 1px solid black;
    box-shadow: 20px 20px 35px rgba(205, 237, 230, 0.09);
    padding: 25px 15px;
    border-radius: 4px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgb(75, 71, 71, 0.19);

}
#feature .fe-box h6{
    display: inline-block;
    background-color: rgb(228, 173, 182);
    padding: 9px 8px 6px 8px;
    line-height: 1;border-radius: 4px;
    color: #08988f;

}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(252, 255, 255);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #23c688;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #8bf3f3;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #ddb3f4;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #bcc4ff;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fee5d5;
}
.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1{
    text-align: center;
    
}
.pro{
    width: 23%;
    border: 1px solid rgb(148, 147, 147);
    padding: 15px 15px;
    border-radius: 20px;
    transition: 0.3s ease;
    box-shadow: 5px 5px 15px rgb(65, 62, 62, 0.06);
    margin: 10px 0;
    position: relative;
    
}
.pro img{
    width: 100%;
    padding-bottom: 0px;
    border-radius: 25px;
}
.pro:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px rgb(67, 66, 66,0.2);
}
.pro .des{
    text-align: start;
    padding-bottom: 0px;
}
.pro .des span{
    color: rgb(101, 99, 99);
    font-size: 16px;
}
.pro .des h5{
    font-size: 20px;
    padding-top: 10px;
    color: #222;
    font-weight: 600;
}
.star i{
    font-size: 16px;
    color: rgb(243, 181, 25);   
}
.pro .des h4{
    padding: 7px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(50, 136, 119);
}
.pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    background-color: #d1ffe4;
    border-radius: 50px;
    color: rgb(54, 214, 54);
    font-weight: 500;
    border: 1px solid rgb(158, 255, 224);
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: rgb(244, 254, 255);
    padding: 15px;
}
#banner h2{
    color: rgb(244, 254, 255);
    padding: 20px;
}
#banner h2 span{
    color: red;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#banner button:hover{
    background-color: #08988f;
    color: white;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 40px;
    align-items: start;
    text-align: center;
    background-image: url(img/banner/b17.jpg);
    width: 640px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#sm-banner .banner-box h2{
    padding: 7px 0px;
    color: white;
}
#sm-banner .banner-box span{
    padding-bottom: 20px;
    font-size: 18px;
}
#sm-banner .banner-box{
    color: white;
}#sm-banner .banner-box h4{
    color: white;
}
#sm-banner .banner-box:hover button{
    background-color: #08988f;
    border: 1px solid #08988f;
}
#sm-banner .banner-box2{
    background-image: url(img/banner/b10.jpg#sm-banner );
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 20px;
    align-items: start;
    text-align: center;
    background-image: url(img/banner/b7.jpg);
    width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#banner3 .banner-box h2{
    color: white;
    font-weight: 900;
    font-size: 24px;
}
#banner3 .banner-box h3{
    color: red;
    font-weight: 800;
    font-size: 15px;
}
#banner3 .banner-box2{
    background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3{
    background-image: url(img/banner/b18.jpg);
}
#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30% ;
    background-color: #041e42;

}
#newsletter .newstext h4{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
#newsletter .newstext p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(131, 131, 131);
}
#newsletter .newstext span{
    
    color: gold;
    font-weight: 600;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
}
#newsletter button{
    background-color: #008676;
    white-space: nowrap;
    color: white;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter .form input{
    margin-right: 10px;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer a{
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 15px;
}
footer h4{
    margin-bottom: 20px;
    margin-top: 10px;
}
footer p{
    margin-bottom: 8px;
}
footer .follow{
    color: grey;
    padding-right: 5px;
    cursor: pointer;
}
footer .install .row img{
    padding: 5px 0;
    border: 1px solid #06b2a6;
    border-radius: 5px;
}
foter .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #04b39e;
}


#page-header{
    background-image: url(img/banner/b1.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-position: top 30% right 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#page-header h2{
    color: whitesmoke;
    font-size: 66px;
    padding: 10px 0;

}
#page-header p{
    color: whitesmoke;
    font-size: 18px;
}
#pagination{
    text-align: center;
}
#pagination a{
    background-color: #04b39e;
    font-size: 24px;
    color: white;
    
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 900;
}
#prodetails .single-pro-img{
    width: 40%;
    margin-right: 50px;
    
}
#prodetails .single-pro-img .small-img-group{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
    
}
#prodetails .single-pro-img .small-img-group .small-img-col{
    width: 23%;  
}
#prodetails .single-pro-img .small-img-group .small-img-col:hover{
    cursor: pointer;
}
#prodetails{
    display: flex;
    flex-wrap: wrap;

}
#prodetails .single-pro-details{
    width: 40%;
}

#prodetails .single-pro-details h6{
    margin: 50px 0px;
}
#prodetails .single-pro-details h4{
    margin: 40px 0px;
    font-size: 24px;
}
#prodetails .single-pro-details h2{
    margin: 10px 0px;
}
#prodetails .single-pro-details select{
    outline: none;
    font-size: 16px;
    color: grey;
    padding: 5px 10px;
    margin-bottom: 20px;
}
#prodetails .single-pro-details input{
    font-size: 18px;
    width: 50px;
    padding-left: 10px;
    margin-right: 10px;
    align-items: center;
    height: 45px;
    
}
#prodetails .single-pro-details button{
    font-size: 16px;
    cursor: pointer; 
    border: 1px solid #008676;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 4px;
    transition: 0.2s ease;
    color: rgb(255, 255, 255);
    background-color: #059c8b;
    font-weight: 500;
    margin-left: 10px;
}
#prodetails .single-pro-details span{
    font-size: 18px;
    line-height: 20px;
    color: grey;
}


















@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: rgb(228, 241, 253);
        box-shadow: 0 50px 60px rgba(0, 0, 0, 0.2);
        padding: 80px 0 0 30px;
        transition: 0.3s ease;
    }
    #navbar li{
        margin-bottom: 30px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: black;
        font-size: 24px;
        padding-left: 25px;
    }
    #navbar.active{
        right: 0px;
    }
    #close{
        display: flex;
        color: black;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 26px;
        font-weight: 900;
    }
    #lg-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 60px;
        background-position: top 30% right 30%;
    }
    #feature {
        
        justify-content: center;
        
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
}